/**
 * #.# Frontend CSS
 *
 * BLOCK: wp-block-cgb-block CSS for the editor & front end.
 */

.wp-block-aacgb-block-aa-2 {
	color: #000000;
	background: goldenrod;
	border: 0.2rem solid goldenrod;
	padding: 2rem;
}
